:root {
  --background: #212121;
  --foreground: #EEFFFF;
}

body {
  background-color: var(--background);
  margin: 0px;
  text-align: center;
}

a {
  color: var(--foreground);
  font-size: 5rem;
  margin: 5rem;
  text-decoration: none;
}
