<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> <!-- set automatically by title widget --> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="alternate" type="application/atom+xml"
          title="Atom feed for lavenderperry.codeberg.page" href="/atom.xml">
    <meta id="favicon-html"> <!-- replaced by favicon stuff -->
  </head>
  <body>
    <nav> <!-- menu inserted here --> </nav>
    <main> <!-- page content inserted here --> </main>
  </body>
</html>
